# Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
Sample Text- 'Python Exercises, PHP exercises.'
Expected Output: Python:Exercises::PHP:exercises:

In [1]:
import re

stmt='Python Exercises, PHP exercises.'
print(re.sub("[ ,.]", ":", stmt))

Python:Exercises::PHP:exercises:

# Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.

Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
Expected output-
0      hello world
1             test
2    four five six

In [6]:

import pandas as pd

dict= {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df=pd.DataFrame(dict)

df

                  SUMMARY
0           hello, world!
1              XXXXX test
2  123four, five:; six...

In [36]:
df['SUMMARY'] = df['SUMMARY'].str.replace('[^a-zA-Z\s]','')
print(df)

         SUMMARY
0    hello world
1     XXXXX test
2  four five six

/var/folders/58/4g1krmxn1l34nywx4xnh7rnh0000gn/T/ipykernel_20663/4158396085.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['SUMMARY'] = df['SUMMARY'].str.replace('[^a-zA-Z\s]','')

# Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [43]:
def GET_WORDS(string):
    flow=re.compile(r'\b\w{4}\b')
    extract=flow.findall(string)
    return extract

In [45]:
string='Apple four  sanskrita santosh 1234 bomu life gmail'
result=GET_WORDS(string)
print(result)

['four', '1234', 'bomu', 'life']

# Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory

In [51]:
def GET_WORDS(string):
    flow=re.compile(r'\b\w{3,5}\b')
    extract=flow.findall(string)
    return extract

In [54]:
string='Apple four  sanskrita san 1234 bomu 123'
result=GET_WORDS(string)
print(result)

['Apple', 'four', 'san', '1234', 'bomu', '123']

# Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output:
example.com
hr@fliprobo.com
github.com
Hello Data Science World
Data Scientist

In [61]:
x='["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]' 
r=re.sub(r'[(\)""]',"",x)
print(r)

[example .com, hr@fliprobo .com, github .com, Hello Data Science World, Data Scientist]

In [92]:
def x(strings):
    pattern=re.compile(r'[(\)]')
    mod_strings=[]
    for string in strings:
        mod_str=re.sub(pattern,"",string)
        mod_strings.append(mod_str)
    return mod_strings

In [93]:
str=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
res=x(str)
print(res)

['example .com', 'hr@fliprobo .com', 'github .com', 'Hello Data Science World', 'Data Scientist']

# Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]
Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [100]:
import re

t=open("/Users/apple/Desktop/PYTHON INTERNSHIP ASSIGNMENTS/30-03-2024/example.txt",'r')
t1=t.read()
t3=re.sub(r"\s*\([^)]*\)","",t1)
print(t3)

 ["example", "hr@fliprobo", "github", "Hello", "Data"]

# Question 7- Write a regular expression in Python to split a string into uppercase letters.
Sample text: “ImportanceOfRegularExpressionsInPython”
Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [119]:
t='ImportanceOfRegularExpressionsInPython'
t2=re.split("([A-Z][^A-Z]*)",t)
print(t2)

['', 'Importance', '', 'Of', '', 'Regular', '', 'Expressions', '', 'In', '', 'Python', '']

# Question 8- Create a function in python to insert spaces between words starting with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [145]:
def add_space(stmt):
    flow=r'(\d+)([A-Za-z]+)'
    result=re.sub(flow,r' \1 \2',stmt)
    return result

In [146]:
stmt='RegularExpression1IsAn2ImportantTopic3InPython'
stmt2=add_space(stmt)
print(stmt2)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

# Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [147]:
link='https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv'
df=pd.read_csv(link)
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [150]:
df['letters']=df['Country'].apply(lambda x: x[:6])

In [155]:
df[['Country','letters']]

         Country letters
0    Switzerland  Switze
1        Iceland  Icelan
2        Denmark  Denmar
3         Norway  Norway
4         Canada  Canada
..           ...     ...
153       Rwanda  Rwanda
154        Benin   Benin
155        Syria   Syria
156      Burundi  Burund
157         Togo    Togo

[158 rows x 2 columns]

# Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [158]:
def match_a_string(string):
    flow=r'^[\w_]+$'
    if re.match(flow,string):
        print('Match')
    else:
        print('Not Matched')

In [159]:
match_a_string('How is your life')

Not Matched

In [164]:
match_a_string('How_is123yourLife')

Match

# Question 12- Write a Python program where a string will start with a specific number.

In [169]:
def match_a_string(string):
    flow=r'^10'
    if re.match(flow,string):
        print('Match')
    else:
        print('Not Matched')

In [170]:
match_a_string('10 is the number')

Match

In [172]:
match_a_string('how 10 is the number')

Not Matched

# Question 13- Write a Python program to remove leading zeros from an IP address

In [185]:
def IP(string):
    IP1=re.sub(r'\b0+(\d)',r'\1',string)
    return IP1

In [186]:
IP('100.020.005.545')

'100.20.5.545'

# Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.
Expected Output- August 15th 1947
Note- Store given sample text in the text file and then extract the date string asked format.

In [293]:
t=open("/Users/apple/Desktop/PYTHON INTERNSHIP ASSIGNMENTS/30-03-2024/example2.txt")
t1=t.read()
result=re.findall(r"\b[\w]* \d{1,2}(?:st|nd|rd|th)? \d{4}\b",t1)
print(result)

['August 15th 1947']

In [292]:
string="On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country"
result=re.findall(r"\b[\w]* \d{1,2}(?:st|nd|rd|th)? \d{4}\b",string)
print(result)

['August 15th 1947']

# Question 15- Write a Python program to search some literals strings in a string. 
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox', 'dog', 'horse'

In [295]:
string="The quick brown fox jumps over the lazy dog"
result=re.findall(r"fox|dog|horse",string)
print(result)

['fox', 'dog']

# Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox'

In [305]:
string="The quick brown fox jumps over the lazy dog"
result=re.search(r"\Wfox\W",string)
print(result)
position=result.start()
print(position)

<re.Match object; span=(15, 20), match=' fox '>
15

# Question 17- Write a Python program to find the substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises'
Pattern : 'exercises'

In [309]:
string="Python exercises, PHP exercises, C# exercises"
result=re.findall(r"exercises",string)
print(result)

['exercises', 'exercises', 'exercises']

# Question 18-  Write a Python program to find the occurrence and position of the substrings within a string

"Unable to solve"

# Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [321]:
date="2024-04-05"
result=re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})','\\3-\\2-\\1',date)
print(result)

05-04-2024

# Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [454]:
def get(string):
    flow=re.compile(r'^\d+\.?\d{1,2}$')
    result=re.findall(flow,string)
    return result

In [455]:
string='01.12 0132.123 2.31875 145.8 3.01 27.25 0.25'
result2=get(string)
print(result2)

[]

# Question 21- Write a Python program to separate and print the numbers and their position of a given string.

# Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
Expected Output: 950

In [456]:
input = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
values = re.findall(r'\d+', input)
values = [int(value) for value in values]

max_value = max(values)

print(max_value)

950

# Question 23- Create a function in python to insert spaces between words starting with capital letters.
Sample Text: “RegularExpressionIsAnImportantTopicInPython"
Expected Output: Regular Expression Is An Important Topic In Python

In [491]:
def space(string):
    flow = r'([A-Z][a-z])'
    result = re.sub(flow,r' \1', string)
    result = result.strip()
    return result

In [492]:
string='RegularExpressionIsAnImportantTopicInPython'
result2=space(string)
print(result2)

Regular Expression Is An Important Topic In Python

# Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [493]:
text="How about You, What's the Matter?"
result=re.findall(r'[A-Z][a-z]+',text)
print(result)

['How', 'You', 'What', 'Matter']

# Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

In [496]:
def dup(string):
    flow=r'\b(\w+)(\s+\1\b)+'
    result=re.sub(flow,r'\1',string)
    return result

In [497]:
string='kya kya hua hua tera tera hello!!'
result2=dup(string)
print(result2)

kya hua tera hello!!

# Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [506]:
def validate(string):
    flow=r'\w+$'
    result=re.search(flow,string)
    if result:
        return 'validated'
    else:
        return 'not validated'

In [510]:
string='How many times I need to tell you'
result2=validate(string)
print(result2)

validated

In [508]:
string='How many times I need to tell you ???'
result2=validate(string)
print(result2)

not validated

# Question 27-Write a python program using RegEx to extract the hashtags.
Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [514]:
t1='RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <U+00A0><U+00BD><U+00B1><U+0089> "acquired funds" No wo'
result=re.findall(r'#\w+',t1)
print(result)

['#Doltiwal', '#xyzabc', '#Demonetization']

# Question 28- Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [518]:
t1='@Jags123456 Bharat band on 28??<U+00A0><U+00BD><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders'
result=re.sub(r'<U\+\w{4}>',"",t1)
print(result)

@Jags123456 Bharat band on 28??Those who are protesting #demonetization are all different party leaders

# Question 29- Write a python program to extract dates from the text stored in the text file.
Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
Note- Store this sample text in the file and then extract dates.

In [519]:
datefile=open("/Users/apple/Desktop/PYTHON INTERNSHIP ASSIGNMENTS/30-03-2024/example3.txt")
d1=datefile.read()
flow=r'\d{2}-\d{2}-\d{4}'
result=re.findall(flow,d1)
print(result)

['12-09-1992', '15-12-1999']

# Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.
Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [520]:
def remove(string):
    flow=r'\b\w{2,4}\b'
    result=re.sub(flow,"",string)
    return result

In [521]:
string='The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly'
result2=remove(string)
print(result2)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly